{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Forecast</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>

<body>
  <!-- your single-location forecast interface here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-4"><img src="/static/weather/res/chat-icon.png" class="big-icon clickable"></div>
      <div class="col-4"><img src="/static/weather/res/trip-icon.png" class="big-icon clickable"></div>
      <div class="col-4"><img src="/static/weather/res/like-icon.png" class="big-icon clickable"></div>
    </div>
    <div class="row border-bottom">
      <div class="col">
        <p class="med text-center clickable">Chat</p>
      </div>
      <div class="col">
        <p class="med text-center clickable">Trips</p>
      </div>
      <div class="col">
        <p class="med text-center clickable">Likes</p>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <a href="http://project-1-starter-code-im8la-yopourquoi801026.codeanyapp.com:3000/weather/forecast/alert/">
          <img src="/static/weather/res/sun_info.png" class="avatar clickable ">
        </a>
      </div>
      <div class="col"></div>
    </div>

    <p class="big text-center">Berkeley, 75°</p>

    <div class="row border-bottom">
      <div class="col-2 med">Today</div>
      <div class="col-2 med">Sun</div>
      <div class="col-5 med"></div>
      <div class="col-2 med">80</div>
      <div class="col-1 med">60</div>
    </div>

    <div class="row chat-window" id="chat_window_1">
      <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-body msg_container_base">

            <div class="row msg_container base_receive">
              <div class="col-5">
                <div class="messages msg_receive">
                  <p>Good afternoon, David! The weather is great today! How may I help you? </p>
                  <time>Sunny • 1 min</time>
                </div>
              </div>
            </div>

            <div class="row msg_container base_sent">
              <div class="col-5">
                <div class="messages msg_sent">
                  <p>How's the weather tomorrow in Berkeley?</p>
                  <time>David • 51 sec</time>
                </div>
              </div>
            </div>

            <div class="row msg_container base_receive">
              <div class="col-5">
                <div class="messages msg_receive">
                  <p>It's looking SPICY! To learn more information, just tap on me above!</p>
                  <time>Sunny • 45 sec</time>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-lg chat_input" placeholder="Write your message here..." />
              <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" id="btn-chat">Send</button>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>