{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
  <div class="container">
    <div class="row">
      <div class="col"><img src="/static/weather/res/chat-icon.png" class="text-center big-icon"></div>
      <div class="col"><img src="/static/weather/res/trip-icon.png" class="text-center big-icon"></div>
      <div class="col"><img src="/static/weather/res/like-icon.png" class="text-center big-icon"></div>
    </div>
    <div class="row">
      <div class="col"><p class="med text-center">Chat</p> </div>
      <div class="col"><p class="med text-center">Trips</p> </div>
      <div class="col"><p class="med text-center">Likes</p> </div>
    </div>
    
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img src="/static/weather/res/sun_back.png" class="avatar"></div>
      <div class="col"></div>
    </div>
    
    <p class="big text-center">Berkeley, 75°</p> 
    
    <div class="row"></div>
  </div>
</body>
</html>





